@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: black;
    list-style: none;
    }

header {
        font-family: 'Kdam Thmor Pro';
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

nav {
        width: 60%;
}
    
ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
}
    
li {
        list-style: none;
        color: aliceblue;
        cursor: pointer;
        font-size: 19px;
        transition: .5s;
        font-family: 'Kdam Thmor Pro', sans-serif;
}
    
li:hover {
        color: #D21617;
}
#logo {
        width: 150px;
        height: auto;
    }
        
#h1ctt {
    width: auto;
    height: 40px;
    font-size: 50px;
    color: #FFF;
    background-color: #D21617;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: black;
}


.bcor1 {
    color: #000000;
    background-color: #747474;
    font-weight: bold;
    border: rgb(255, 255, 255) 2px;
}